<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300034060737-jsq1kfsj33c2h92u8c33e7sj75lmhucf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300034060737-jsq1kfsj33c2h92u8c33e7sj75lmhucf</string>
	<key>API_KEY</key>
	<string>AIzaSyBen23LN1qSJvbGQf9MqQmbRV9CKu71ke4</string>
	<key>GCM_SENDER_ID</key>
	<string>300034060737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTemplate</string>
	<key>PROJECT_ID</key>
	<string>app-template-be7af</string>
	<key>STORAGE_BUCKET</key>
	<string>app-template-be7af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300034060737:ios:511e319bbea6bcc9a43f40</string>
</dict>
</plist>